
<div class="card">
    <div class="card-body" *ngIf="shippingDetails | async as shippingDetails">
        <h4 class="card-title">Order Summary for {{ shippingDetails[3] }}</h4>
        <ul class="list-group list-group-flush">
            <li *ngFor="let item of items | async" class="list-group-item">
                {{ item.quantity }} x {{ item.product.title }}
                <div class="float-right">
                    {{ item.totalPrice | currency:'USD':true }}
                </div>
            </li>
        </ul>
    </div>
</div>

<footer class="blockquote-footer" *ngIf="cart | async as shoppingCart">Order placed on {{ shoppingCart[0] | date: 'fullDate' }}.</footer>