
<div class="card">
    <img class="card-img-top" src="" alt="">
    <div class="card-body">
        <h4 class="card-title">Order Summary</h4>
        <ul class="list-group list-group-flush">
            <li *ngFor="let item of items | async" class="list-group-item">
                {{ item.quantity }} x {{ item.product.title }}
                <div class="float-right">
                    {{ item.totalPrice | currency:'USD':true }}
                </div>
            </li>
        </ul>
    </div>
</div>