<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <p>
        You have {{ cart.totalItemsCount }} items in your shopping cart.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productId of cart.productIds">
                <th>
                    {{ cart.items[productId].product.title }}
                </th>
                <th>
                    {{ cart.items[productId].quantity }}
                </th>
                <th></th>
            </tr>
        </tbody>
    </table>
</ng-container>
